@use "../global/global.scss";

.address {
  padding-top: 10px;

  @media (min-width: global.$width-medium) {
    padding-top: 13px;
  }
}

.address__text {
  display: flex;
  align-items: flex-start;
  margin: 0;
  font: 400 14px/20px var(--font-family);
  text-decoration: none;
  color: var(--base-dark);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--location::before {
    content: "";
    display: block;
    margin-right: 6px;
    min-width: 13px;
    height: 16px;
    background-color: var(--primary);
    mask: url("../../img/icons/stack.svg#icon-location") no-repeat center center;
    mask-size: cover;
  }

  &--phone {
    --color: var(--base-dark);
    color: var(--color);
  }

  &--phone::before {
    content: "";
    display: block;
    margin-right: 6px;
    min-width: 13px;
    height: 16px;
    background-color: var(--primary);
    mask: url("../../img/icons/stack.svg#icon-phone") no-repeat center center;
    mask-size: cover;
  }

  &:hover {
    --color: var(--primary-light);
  }

  &:focus {
    --color: var(--primary-light);
  }

  &:active {
    --color: var(--primary-dark);
  }
}
