@use "../global/global.scss";

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin: 0;
  @include global.fonter(400, 12px, 16px);
  color: var(--base-neutral);

  &--link {
    --color: var(--base-neutral);
    display: flex;
    text-decoration: none;
    color: var(--color);
  }

  &--link::after {
    content: "";
    display: block;
    margin-left: 4px;
    min-width: 12px;
    height: 16px;
    background-color: var(--color);
    mask: url("../../img/icons/stack.svg#html-academy-logo") no-repeat center center;
    mask-size: cover;
  }

  &:hover {
    --color: var(--primary);
  }

  &:focus {
    --color: var(--primary);
  }

  &:active {
    --color: var(--primary-dark);
  }
}
