@use "../global/global.scss";

.main-content {
  min-width: 0;
}

.main-content__title {
  margin: 0;
  margin-bottom: 4px;
  @include global.fonter(700, 12px, 16px);
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
}

.main-content__subtitle {
  margin: 0;
  margin-bottom: 20px;
  @include global.fonter(700, 24px, 36px);
  text-align: center;
}
