@use "../global/global.scss";

.main-header {
  position: relative;
  min-height: 60px;
  background-color: var(--page-background);

  @media (min-width: global.$width-medium) {
    min-height: 80px;
  }
}

.main-header__navigation {
  &--open {
    position: absolute;
    z-index: 2;
  }
}
