@forward "fonts.scss";
@forward "visually-hidden.scss";
@forward "mixins.scss";
@forward "reset-list.scss";
@forward "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */

  --page-background: #ffffff;
  --base-light: #ffffff;
  --base-neutral: #bdbdbd;
  --base-dark: #333333;
  --primary: #7859cf;
  --primary-opacity: rgba(120, 89, 207, 0.25);
  --primary-light: #9070ec;
  --primary-lightest: #f0ebff;
  --primary-neutral: #e2e2e2;
  --primary-dark: #593cac;
  --background-light: #f8f8f8;
  --background-warm: #f3ebe1;

  /* States */
  --hover-opacity: 0.8;
}
